In [1]:
import pandas as pd

In [7]:
house_2022 = pd.read_csv('data/2022FD.txt', delimiter= '\t')

In [8]:
house_2022.head()

,Prefix,Last,First,Suffix,FilingType,StateDst,Year,FilingDate,DocID
0,Mr.,Hollier,Adam Jacques Chester Lafayette,NaN,C,MI13,2022,5/14/2022,10048102
1,NaN,Aadland,Erik,NaN,C,CO07,2022,1/17/2022,10044401
2,NaN,Acevedo-Arreguin,Luis Antonio,NaN,C,CA18,2022,4/23/2022,10046717
3,NaN,Achenbach,Jack Joseph,NaN,C,FL10,2022,5/15/2022,10048864
4,NaN,Adeimy,Deborah,NaN,X,FL21,2022,5/17/2022,30016710

In [20]:
house_2022[house_2022.duplicated(['Last', 'First'])].value_counts('Last')[:10]

Last
Lowenthal     48
DelBene       11
Blumenauer     9
Schrader       8
Burgess        8
Green          8
Rogers         7
Sessions       6
Beyer          6
Foxx           6
dtype: int64

In [22]:
house_2022[house_2022['Last'] == 'Axne']

   Prefix  Last  First Suffix FilingType StateDst  Year FilingDate     DocID
41   Hon.  Axne  Cindy    NaN          P     IA03  2022   2/8/2022  20020367
42   Hon.  Axne  Cindy    NaN          P     IA03  2022   3/7/2022  20020474
43   Hon.  Axne  Cindy    NaN          P     IA03  2022   6/3/2022  20021134
44   Hon.  Axne  Cindy    NaN          P     IA03  2022   7/2/2022  20021236

Based on research from the website, it appears P = Periodic Transaction Report. By searching the online database by last name, those reports are available. It doesn't appaear that the "C" reports are available.

In [23]:
house_2022.value_counts('FilingType')

FilingType
C    668
P    341
X    175
W     49
D     39
A     35
B      3
T      3
G      1
O      1
dtype: int64

In [30]:
house_2022[house_2022['FilingType'] == 'O']

,Prefix,Last,First,Suffix,FilingType,StateDst,Year,FilingDate,DocID
47,NaN,Badhasso,Amane,NaN,O,MN04,2022,5/24/2022,8218784

Going through the different types, most aren't available through the online search portal. In addition to 'P': 'B' is available and appears to be the disclosure of a blind trust; 'T' is available and appears to be 'termination' report; and 'G' is available and is a 'gift waiver' (one member requested one in 2022 for a wedding/engagement);