In [1]:
import pandas as pd
import requests
import sys
sys.path.insert(0, '../../API_Keys/')
from vantage_api import alpha_vantage_key

Used [this site](https://www.geeksforgeeks.org/python-import-module-from-different-directory/) to understand how to import a file from another folder to get API keys.

We referenced Lesson 5.01 APIs to help with the following.

In [6]:
base_url = "https://www.alphavantage.co/query"

res = requests.get(url = base_url,
                  params = {
                      'function': 'TIME_SERIES_DAILY',
                      'outputsize': 'full',
                      'symbol': 'BP',
                      'apikey':alpha_vantage_key
                  })

print(res.status_code)

json = res.json()

bp = pd.DataFrame(json).T

bp.head()

200

,1. Information,2. Symbol,3. Last Refreshed,4. Output Size,5. Time Zone,2022-07-12,2022-07-11,2022-07-08,2022-07-07,2022-07-06,...,1999-11-12,1999-11-11,1999-11-10,1999-11-09,1999-11-08,1999-11-05,1999-11-04,1999-11-03,1999-11-02,1999-11-01
Meta Data,"Daily Prices (open, high, low, close) and Volumes",BP,2022-07-12 16:00:01,Full size,US/Eastern,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Time Series (Daily),NaN,NaN,NaN,NaN,NaN,"{'1. open': '26.7100', '2. high': '27.0200', '...","{'1. open': '27.4500', '2. high': '27.5900', '...","{'1. open': '28.3500', '2. high': '28.4600', '...","{'1. open': '27.9400', '2. high': '28.0900', '...","{'1. open': '26.8700', '2. high': '27.1800', '...",...,"{'1. open': '58.6200', '2. high': '59.8800', '...","{'1. open': '59.4400', '2. high': '60.1900', '...","{'1. open': '58.5000', '2. high': '59.2500', '...","{'1. open': '57.6200', '2. high': '58.4400', '...","{'1. open': '54.6200', '2. high': '55.8800', '...","{'1. open': '53.8100', '2. high': '53.9400', '...","{'1. open': '55.2500', '2. high': '55.3100', '...","{'1. open': '55.2500', '2. high': '55.3100', '...","{'1. open': '56.4400', '2. high': '56.6200', '...","{'1. open': '57.5000', '2. high': '57.6200', '..."

In [13]:
bp_time_series = pd.DataFrame(json['Time Series (Daily)']).T
bp_time_series.head()

            1. open  2. high   3. low 4. close 5. volume
2022-07-12  26.7100  27.0200  26.5600  26.8800  12328331
2022-07-11  27.4500  27.5900  27.0900  27.4600  10141434
2022-07-08  28.3500  28.4600  27.6350  27.8400  11371988
2022-07-07  27.9400  28.0900  27.6100  27.7800  16520525
2022-07-06  26.8700  27.1800  26.0300  26.7200  13916874

In [8]:
type(json)

dict

In [45]:
time_series_df = pd.DataFrame(columns = ['ticker','daily_time_series'])
time_series_df.head()

Empty DataFrame
Columns: [ticker, daily_time_series]
Index: []

In [46]:
time_series_df.set_index('ticker', inplace = True)

[This stack overflow answer](https://stackoverflow.com/a/46621777) helped us figure out how to start fleshing out the dataframe with the data we want.

In [47]:
time_series_df.loc['bp', ['daily_time_series']] = [json['Time Series (Daily)']]
time_series_df.head()

                                        daily_time_series
ticker
bp      {'2022-07-12': {'1. open': '26.7100', '2. high...